<h3>Please enter information about Room:</h3>
<div ng-controller="roomCtrl">
<form class="myForm">
        Room Name:<br>
        <input type="text" ng-model="AroomName"> <br> 
        Room Size:<br>
        <input type="text" ng-model="AroomSize"> <br>
        Room Key:<br>
        <input type="text" ng-model="Akey"> <br> <br>    

          <button style="background-color:  #3ea8f3; border: black;" 
            ng-click="addRoom($event)">Add</button>
            <a href="#!/"> <button style="background-color:  #3ea8f3; border: black; margin-left: 20px;">
              cancel</button> </a>
              <div ng-show="roomAddingStatus">
               <h3> {{roomInsertionstatus}} </h3>
                </div>
      </form>
    </div>