<!DOCTYPE html>
<html>

<head>

  
 
 
  <!-- <script src="node_modules/svg-assets-cache/svg-assets-cache.js"></script> --> 
  <!-- <script src="node_modules/md-dialog/dialog.js"></script> -->
  <!-- <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script> -->
 <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/angular-messages/angular-messages.js"></script> 
  <script src="node_modules/angular-material/angular-material.js"></script> 
  <script src="node_modules/angular-animate/angular-animate.js"></script> 
  <script src="node_modules/milsymbol/dist/milsymbol.js"></script>
  <script src="node_modules/date-time-picker/dist/date-time-picker.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.js"></script> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i,900,900i"
  type="text/css" media="all">
  <link rel="stylesheet" href="css/mycss.css">
  <link rel="stylesheet" href="css/dateTime.css">
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" /> 
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.js"></script>
  <link href="//cdn.rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




</head>



<body ng-app="app" ng-controller="menuCtrl">

   

  <div
    style="height:100%; background-image: url('images/background-bloom-blooming-blossom-295771.jpg'); background-size: 1550px;"
    class="ng-scope layout-column">


    <div class="flex-100">

      <div style="height:100%" class="ng-scope layout-row">

        <div class="flex-20" style="border-style: groove;height:130%">
          <div style="height:10%" class="ng-scope layout-row">
            <!-- searchbar block -->
            <div class="flex-80">


              <div ng-show="showAllPersons">
                <input class="searchbar" type="text" placeholder="search" ng-model="searchText.firstName" />
              </div>
              <div ng-show="showAllRooms">
                <input class="searchbar" type="text" placeholder="search" ng-model="search.roomName" />
              </div>
            </div>
            <div class="flex-20">
              <!-- add button -->
              <a href="#!/addPersonButton">
               <button class="addButton" ng-show="showAllPersons" ng-click="addPerson()"><i class="material-icons">
                add_circle_outline
                </i> </button> </a>
                <a href="#!/addRoomButton">
              <button class="addButton" ng-show="showAllRooms" ng-click="addRoom()"> <i class="material-icons">
                add_circle_outline
                </i> </button> </a>

            </div>


          </div>

          <!---  menu items -->
          <a href="#!/" style="cursor: pointer;">
            <div ng-disabled="showAllPersons">
              <p class="mainMenu" ng-click="showPersons()"> <a href="#!/"> <button class="menuItemsButton"
                  ng-disabled="showAllPersons">Persons
                </button> </a></p>
            </div>
        </a>

          <div ng-show="showAllPersons" >
            <ul ng-repeat="person in persons | filter:searchText">
                  
              <div class="ng-scope layout-row">
                <div class="flex-85">
                <li style="font-size: 18px;" class="firstName" ><a href="#!/personInfoRoute/{{person.key}}">{{person.firstName}} </a></li>
                </div>
                <div class="flex-30">  
                  
                  <i  ng-click="deletePerson($event,person.key)" style="color: rgb(209, 65, 65); cursor: pointer;" class="material-icons">delete</i>
                
                  </div>
              </div>

            </ul>


          </div>

          <p class="mainMenu" ng-click="showRooms()"><a href="#!/"> <button class="menuItemsButton" ng-disabled="showAllRooms">Rooms
            </button> </a></p>
          <div ng-show="showAllRooms">
            <ul ng-repeat="room in rooms | filter:search">
              <div class="ng-scope layout-row">
              <div class="flex-85">
                <li style="font-size: 18px;" class="firstName"><a href="#!/roomInfoRoute/{{room.key}}"> {{room.roomName}} </a>  </li>
              </div>
              <div class="flex-30"> 
                   
                <i ng-click="deleteRoom($event,room.key)"  style="color: rgb(209, 65, 65); cursor: pointer;" class="material-icons">delete </i>
              
                </div>   
              </div>       
            </ul>


          </div>

        </div>
        <div class="flex-80">
          <!-- Main page -->
          <div style="height:100%" class="ng-scope layout-column">
            <div class="flex-90" style="border-style: groove;">
            <!--  <h3 style="text-align: center;">index page</h3> -->
            <a href="wwww.google.com">Dont Click here!</a>
            
              <div ng-view></div>

            </div>
            <div class="flex-10">
              <!-- Footer --> 
              <div style="text-align: center;">
                <a href="https://www.facebook.com/thalesgroup/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/thalesgroup?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.thalesgroup.com/en/taxonomy/term/7824" target="_blank" class="fa fa-google"></a>
                <a href="https://it.linkedin.com/company/thales" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/user/thethalesgroup" target="_blank" class="fa fa-youtube"></a>
               
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
    
  </div>

  </div>

  <script src="modules/app.js"></script>
  <script src="Controllers/menuCtrl.js"></script>
 <!-- <script src="Controllers/datesCtrl.js"></script> -->
  <script src="Services/personService.js"></script>
  <script src="Services/roomService.js"></script>
  <script src="Services/reservationService.js"></script>
  <script src="Controllers/personCtrl.js"></script>
  <script src="Controllers/roomCtrl.js"></script>
  <script src="Controllers/reservationCtrl.js"></script>
  









</body>

</html>