
<h3 style="text-align: center;">Welcome to Room reservation system!</h3> <br>
<h2>Please use the menu on the left side to do different operations.</h2> <br>
<h4>Click to see all Active Reservations</h4>
<a href="#!/seeAllReservations">              
    <button style="background-color: #3ea8f3; margin-left: 8px; height: 10%;">All reservations</button> 
</a> 